Body {
  background-image: url("https://i.imgur.com/dGMnrK5.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: "Bitter", serif;
  color: rgb(51, 57, 140);
}

.header-title {
  text-align: center;
  font-size: 58px;
  color: rgb(219, 96, 96);
  font-family: "Shadows Into Light", cursive;
  margin: 10px;
}

.main-container {
  background-image: url("https://i.imgur.com/QWcRIGy.png");
  max-width: 800px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.message-container {
  border: 4px solid rgb(51, 57, 140);
  background-color: rgb(240, 240, 240);
  width: 700px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.game-container {
  border: 4px solid rgb(51, 57, 140);
  background-color: rgb(119, 168, 199);
  text-align: center;
  width: 680px;
  margin: 16px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.button-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  align-items: center;
}

.grid-button {
  border: 3px solid rgb(219, 96, 96);
  background: rgb(240, 240, 240);
  height: 180px;
  width: 200px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.grid-button:hover {
  background-color: rgb(249, 226, 125);
}

.grid-button:active {
  border: 8px solid rgb(219, 96, 96);
  background-color: rgb(249, 226, 125);
}

.icon {
  height: 140px;
  width: 140px;
  align-items: center;
}

.shake {
  animation: shake 0.4s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.stats-container {
  border: 4px solid rgb(51, 57, 140);
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  width: 700px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
}

.toggle-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 50px;
  margin-top: 12px;
}

.action-button {
  display: none;
  text-align: center;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  border: 4px solid rgb(51, 57, 140);
  background-color: rgb(119, 168, 199);
  color: rgb(51, 57, 140);
  font-family: "Bitter", serif;
  font-size: large;
  font-weight: 400;
}
#start-button {
  text-align: center;
  height: 60px;
  width: 200px;
  border-radius: 10px;
  border: 4px solid rgb(51, 57, 140);
  background-color: rgb(119, 168, 199);
  color: rgb(51, 57, 140);
  font-family: "Bitter", serif;
  font-size: large;
  font-weight: 400;
}

.message-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(240, 240, 240);
  border: 2px solid rgb(51, 57, 140);
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

.cart {
  font-family: "Shadows Into Light", cursive;
  font-weight: bold;
  font-size: xx-large;
}

#close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: rgb(119, 168, 199);
  color: rgb(51, 57, 140);
  border: 2px solid rgb(51, 57, 140);
  border-radius: 5px;
  cursor: pointer;
}

p1 {
  color: rgb(219, 96, 96);
  font-size: x-large;
  text-align: center;
}

.message-content ol {
  text-align: left;
}
