Body {
  background-image: url("https://i.imgur.com/dGMnrK5.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: "Bitter", serif;
  color: rgb(60, 72, 107);
}

.header-title {
  text-align: center;
  font-size: 58px;
  color: rgb(60, 72, 107);
  font-family: "Shadows Into Light", cursive;
  margin: 0;
}

.main-container {
  background-image: url("https://i.imgur.com/QWcRIGy.png");
  max-width: 800px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.message-container {
  border: 4px solid rgb(249, 217, 73);
  background-color: rgb(240, 240, 240);
  width: 700px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  border: 4px solid rgb(60, 72, 107);
  background-color: rgb(249, 217, 73);
  text-align: center;
  width: 680px;
  margin: 10px 10px 0px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  align-items: center; 
}

.grid-button {
  height: 180px;
  width: 200px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border-color: rgb(60, 72, 107);
  background: rgb(240, 240, 240);
}

.grid-button:active {
  border: 8px solid rgb(244, 80, 80);
}

.icon {
  height: 140px;
  width: 140px;
  align-items: center;
}

.shake {
  animation: shake 0.4s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.stats-container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  width: 700px;
  height: 20px;
  font-size: 20px;
  font-weight: 400;
}

.toggle-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 50px;
  margin-top: 12px;
}

.action-button {
  display: none;
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  
}
#start-button {
  text-align: center;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  border: 4px solid rgb(60, 72, 107);
  background-color: rgb(249, 217, 73);
}
