Body {
  background-color: black;
  color: bisque;
}

.header-title {
  text-align: center;
}

.main-container {
  border: 8px solid red;
}

.game-container {
  border: 4px solid yellow;
  text-align: center;
}

.button-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.grid-button {
  padding: 10px 20px;
}

.shake {
  animation: shake 0.4s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.stats-container {
    border: 6px solid blue;
    text-align: center;
  }

.toggle-container {
  border: 4px solid green;
  text-align: center;
}
