Body {
  background-image: url("https://i.imgur.com/dGMnrK5.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

.header-title {
  text-align: center;
  font-size: 48px;
}

.main-container {
  border: 8px solid red;
  background-color: lightcoral;
  max-width: 800px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.message-container {
  border: 6px solid purple;
  background-color: rgb(192, 150, 211);
  margin-top: 20px;
  width: 700px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  border: 4px solid yellow;
  background-color: lightyellow;
  text-align: center;
  width: 700px;
  margin: 20px;
  padding: 10px;
}

.button-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  text-align: center;
}

.grid-button {
  height: 200px;
  width: 220px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  border-color: mediumslateblue;
}

.icon {
  height: 140px;
  width: 140px;
  align-items: center;
}

.shake {
  animation: shake 0.4s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.stats-container {
  border: 4px solid blue;
  background-color: lightblue;
  text-align: center;
  align-items: center;
  width: 700px;
  height: 20px;
}

.toggle-container {
  border: 4px solid green;
  background-color: lightgreen;
  align-items: center;
  width: 700px;
  height: 20px;
}

.action-button {
  display: none;
  text-align: center;
}
