 Body {
  background-image: url('https://i.imgur.com/dGMnrK5.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
}

.header-title {
  text-align: center;
  font-size: 48px;
}

.main-container {
  border: 8px solid red;
  background-color: lightcoral;
}

.message-container {
  border: 6px solid purple;
  background-color: rgb(192, 150, 211);
}

#message-box {
  border: 6px solid rgb(228, 47, 150);
  background-color: lightpink;
  text-align: center;
}
.game-container {
  border: 4px solid yellow;
  background-color: lightyellow;
  text-align: center;
}

.button-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
}

.grid-button {
  height: 120px;
  width: 120px;
  align-items: center;
}

.icon {
height: 110px;
width: 110px;
align-items: center;
}

.shake {
  animation: shake 0.4s ease infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.stats-container {
    border: 6px solid blue;
    background-color: lightblue;
    text-align: center;
  }

.toggle-container {
  border: 4px solid green;
  background-color: lightgreen;
  text-align: center;
}
